# 비행탑승 경험 만족도 데이터

In [56]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

데이터 로드

In [57]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")

print(df.shape)
df.head()

(83123, 24)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

92. Arrival Delay in Minutes 컬럼이 결측치인 데이터들 중 'neutral or dissatisfied' 보다 'satisfied'의 수가 더 높은 Class는 어디 인가?

In [58]:
target = df[df['Arrival Delay in Minutes'].isna()].groupby(['Class', 'satisfaction'], as_index=False).size().pivot(index='Class', columns='satisfaction')

ans = target[target['size']['neutral or dissatisfied'] < target['size']['satisfied']]
ans

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

# 수질 음용성 여부 데이터

데이터 로드

In [59]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")

print(df.shape)
df.head()

(2620, 10)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

93. ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 사분위값 기준 하위 25%의 값들의 평균값은?

In [60]:
target = df['ph'].dropna()

ans = target[target <= target.quantile(0.25)].mean()
ans

5.057093462441731

# 의료 비용 예측 데이터

데이터 로드

In [61]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")

print(df.shape)
df.head()

(1070, 7)

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

94. 흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [62]:
charges_yes = df[df['smoker'] == 'yes']['charges'].quantile(0.9)
charges_no = df[df['smoker'] == 'no']['charges'].quantile(0.9)

mean_yes = df[(df['smoker'] == 'yes') & (df['charges'] >= charges_yes)]['charges'].mean()
mean_no = df[(df['smoker'] == 'no') & (df['charges'] >= charges_no)]['charges'].mean()

ans = abs(mean_yes - mean_no)
ans

29297.954548156144

# 킹카운티 주거지 가격예측문제 데이터

데이터 로드

In [63]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")

print(df.shape)
df.head()

(17290, 21)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

95. bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와 하위 10%값의 차이를 구하여라

In [64]:
low = df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]]['price'].quantile(0.1)
high = df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]]['price'].quantile(0.9)

ans = high - low
ans

505500.0

# 대학원 입학가능성 데이터

데이터 로드

In [65]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")

print(df.shape)
df.head()

(400, 9)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

96. Serial No. 컬럼을 제외하고 'Chance of Admit'을 종속변수, 나머지 변수를 독립변수라 할때, 랜덤포레스트를 통해 회귀 예측을 할 떄 변수중요도 값을 출력하라 (시드값에 따라 순서는 달라질수 있음)

In [66]:
df.drop(columns='Serial No.', inplace=True)

X = df.drop(columns='Chance of Admit')
y = df['Chance of Admit']


from sklearn.ensemble import RandomForestRegressor
from pandas import Series

# 객체 생성
ml = RandomForestRegressor()

# 모델 학습
ml.fit(X, y)

RandomForestRegressor()

In [67]:
feature_importance = ml.feature_importances_
Series_feat_imp = Series(feature_importance, index=X.columns)

ans = Series_feat_imp.sort_values(ascending=False)
ans

CGPA                 0.825336
GRE Score            0.076070
TOEFL Score          0.030296
LOR                  0.023800
SOP                  0.023560
University Rating    0.013265
Research             0.007673
dtype: float64

# 레드 와인 퀄리티 예측 데이터

데이터 로드

In [68]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")

print(df.shape)
df.head()

(1279, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

97. quality 값이 3인 그룹과  8인 데이터그룹의 각 컬럼별 독립변수의 표준편차 값의 차이를 구할때 그값이 가장 큰 컬럼명을 구하여라

In [75]:
ans = (df[df['quality'] == 8].std() - df[df['quality'] == 3].std()).sort_values(ascending=False).index[0]
ans

'total sulfur dioxide'

# 약물 분류 데이터

데이터 로드

In [76]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")

print(df.shape)
df.head()

(157, 6)

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

98. 남성들의 연령대별 (10살씩 구분 0~9세 10~19세 ...) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [79]:
target = df[df['Sex'] == 'M'].copy()

target['Age2'] = target['Age'] // 10 * 10

ans = target.groupby('Age2', as_index=False)['Na_to_K'].mean()
ans

   Age2    Na_to_K
0    10  13.627000
1    20  18.260769
2    30  15.244143
3    40  13.897273
4    50  14.811273
5    60  14.284308
6    70  11.363857

# 사기회사 분류 데이터

데이터 로드

In [80]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")

print(df.shape)
df.head()

(620, 27)

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

99. 데이터의 Risk 값에 따른 score_a와 score_b의 평균값을 구하여라

In [83]:
ans = df.groupby('Risk', as_index=False)[['Score_A', 'Score_B']].mean()
ans

   Risk   Score_A   Score_B
0     0  0.262234  0.225532
1     1  0.490164  0.444262

# 센서데이터 동작유형 분류 데이터

데이터 로드

In [84]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")

print(df.shape)
df.head()

(4650, 65)

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

100. pose값에 따른 각 motion컬럼의 중간값의 가장 큰 차이를 보이는 motion컬럼은 어디이며 그값은?

In [108]:
target = df.groupby('pose').median().T

target['del'] = abs(target[0] - target[1])

ans = target[target['del'] == target['del'].max()].reset_index()['index'].values
ans

array(['motion_54', 'motion_62'], dtype=object)

# 현대 차량 가격 분류문제 데이터

데이터 로드

In [109]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")

print(df.shape)
df.head()

(3888, 9)

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

101. 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?